<div class="flex items-center justify-center" style="background-color: #f55991;">
  <ul class="ma2">
    <li class="list f5 fw4 dib">
      <a class="hover-white no-underline white-90" href="#" title="{{ i18n "pageTitle" . }}">
        <i class="fa fa-phone"></i> (269) 679-7251
      </a>
    </li>
  </ul>
</div>
<nav class="bg-black-50 ph1 ph4-l pv1" role="navigation">
  <div class="flex justify-between items-center center">
    <div class="flex items-center">
      {{ partial "i18nlist.html" . }}
      <div>
        <a href="/">
          <img src="{{ .Site.BaseURL }}img/logo.png" alt="Monarca's ice cream" class="menu-logo" />
        </a>
      </div>
      {{ if .Site.Menus.main }}
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }} text-shadow-black">
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="hover-white no-underline white-90" href="/" title="{{ i18n "pageTitle" . }}">
              Home
            </a>
          </li>
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="hover-white no-underline white-90" href="/#menu" title="{{ i18n "pageTitle" . }}">
              Our menu
            </a>
          </li>
        </ul>
      {{ end }}
    </div>
    <div>
      <a class="hover-white no-underline white-90 mr2" href="https://www.facebook.com/people/Monarcas-Ice-Cream/100069932529849/" target="_blank">
        <i class="fa fa-facebook-official"></i>
      </a>
      <a class="hover-white no-underline white-90 mr2" href="https://www.yelp.com/biz/monarca-s-ice-cream-schoolcraft" target="_blank">
        <i class="fa fa-yelp"></i>
      </a>
    </div>
  </div>
</nav>
